ul {
  list-style-type: none;
}

.LeftSide .head {
  display: flex;
  flex-direction: column;

  width: 100%;
  border-bottom: 1px solid #bcc0c4;
  padding: 5px 0px 15px 0px;
  margin-bottom: 15px;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.LeftSide .head .first ul {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-between;
}

.LeftSide .head .first ul .Big {
  font-size: larger;
  color: #6d6f73;
}

.LeftSide .head .second ul {
  margin-top: 15px;
  display: flex;
  /* width: 100%; */
  gap: 0.5rem;
}

.LeftSide .head .second ul .secondDiv {
  display: flex;
  flex-direction: column;
}

.MutDiv {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.LeftSide .head .second ul .secondDiv :nth-child(2) p {
  font-size: small;
}

.LeftSide .head .third {
  display: flex;
  gap: 0.8rem;
}

.LeftSide .head .third .btn {
  height: 30px;
  width: 60px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 12px;
}

.LeftSide .head .third .blue {
  background-color: blue;
  color: white;
}

.LeftSide .head .third .grey {
  background-color: #dbd6d6;
}

.LeftSide .center .first {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.LeftSide .center .first ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.LeftSide .center .first .Big {
  font-size: larger;
}

.LeftSide .center {
  border-bottom: 1px solid #bcc0c4;
}

.LeftSide .center .second ul li {
  display: flex;
  width: 97%;
  align-items: center;
}

.LeftSide .center .second ul li p {
  margin-left: 5px;
}

.LeftSide .foot h3 {
  color: #6d6f73;
}
.LeftSide .foot div svg {
  width: 18px;
  height: 20px;
  padding: 5px;
  background-color: #cccecf;
  border-radius: 50%;
}
.LeftSide .foot div svg:hover {
  background-color: #cccecf;
  color: black;
  transition: all 0.3s;
  box-shadow: 0px 0px 1px 5px #cccecf;
}
.LeftSide .foot div {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.LeftSide .foot div p {
  margin-left: 5px;
}

.img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.img:hover {
  transform: scale(1.5);
}

.imgBig {
  border-radius: 50%;
  height: 60px;
  transition: all 0.5s ease-in-out;
  width: 60px;
}

.imgBig:hover {
  transform: scale(0.5);
}

.img1,
.img12 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.LeftSide::-webkit-scrollbar {
  overflow-y: hidden;
}

.LeftSide:hover::-webkit-scrollbar-track {
  overflow-y: scroll;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.LeftSide:hover::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.LeftSide:hover::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #bcc0c4;
}

.PName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PName h5 {
  margin: 0;
}

.LeftSide .center .second ul li {
  padding-left: 5px;
}

.LeftSide .center .second ul li:hover {
  background-color: #bcc0c4;
  border-radius: 10px;
}

.LeftSide .center .first ul li:hover {
  background-color: #bcc0c4;
  transition: all 0.3s;
  border-radius: 50px;
}
.LeftSide .center .first ul li {
  width: 30px;
  height: 30px;
  text-align: center;
}
/*  */
.dark {
  color: white;
  transition: all 0.8s ease-in-out;
}
.light {
  transition: all 0.8s ease-in-out;
  color: black;
}
.normal {
  transition: all 0.8s ease-in-out;
  background-color: #f0f2f5;
}
.hard {
  transition: all 0.8s ease-in-out;
  background-color: rgb(38, 10, 10);
}
.solid {
  transition: all 0.8s ease-in-out;
  background-color: blue;
  color: white;
}
.liquid {
  transition: all 0.8s ease-in-out;
  background-color: white;
  color: black;
}
@media only screen and (max-width: 992px) {
  .LeftSide .head .second ul {
    gap: 0;
  }
  .PName {
    justify-content: space-around;
  }
}
