.Navbar {
    height: 90%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .NavWhite{
    background-color: white;
    transition: all 0.8s ease-in-out;
    box-shadow: 0px 0px 10px 1px #6D6F73;
}.NavBlack{ */
    /* background-color: black;
    box-shadow: 0px 0px 10px 5px black;
    transition: all 0.8s ease-in-out;


} */

.Navbar .head {
    width: 20%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.faceBookLogo {
    height: 40px;
    width: 40px;
}

.faceSearch {
    transition: all 0.8s ease-in-out;
    height: 35px;
    background-color: #F0F2F5;
    padding: 5px;
    border: 1px solid #cccecf;
    border-radius: 50px;
    text-align: center;

}

.head1 {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head2 {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
 

.profile {
    height: 40px;
    width: 40px;
    border-radius: 50%;

}.profile:hover{
transform: scale(1.1);
}

.Navbar .head1 svg {
    height: 25px;
    width: 60px;
    
}

.Navbar .head1 svg:hover {
    background-color: #cccecf;
    transition: all 0.8s ease-in-out;
    border-radius: 5px;
    color: black;
    transition: all 0.3s;
    box-shadow: 0px 0px 1px 5px #cccecf;
}
.Navbar .head2 svg{
    width: 18px;
    height: 20px;padding: 5px;
    background-color: #cccecf;
    transition: all 0.8s ease-in-out;
    border-radius: 50%;
} 

.Navbar .head2 svg:hover{
    background-color: #cccecf;
    transition: all 0.8s ease-in-out;

    color: black;
    transition: all 0.3s;
    box-shadow: 0px 0px 1px 5px #cccecf;
}.wb{
    transition: all 0.8s ease-in-out;
    color: white;
/* background-color: aliceblue; */
}
/*  */
.dark{
    color:white;
    transition: all 0.8s ease-in-out;
}
.light{
    transition: all 0.8s ease-in-out;
    color: black;
}
.normal{
    transition: all 0.8s ease-in-out;
    background-color: #F0F2F5;
}
.hard{
    transition: all 0.8s ease-in-out;
    background-color: rgb(38, 10, 10);
}
.solid{
    transition: all 0.8s ease-in-out;
    background-color: blue;
    color: white;
}
.liquid{
    transition: all 0.8s ease-in-out;
    background-color: white;
    color: black;
} 

@media only screen and (max-width:992px){
    .Navbar .head {
        width: 25%;
    }
}
@media only screen and (max-width:768px){
.Navbar{
    flex-direction: column;
    padding-bottom: 5px;
    height: min-content;
}.head2,.head1{
    display: none;
} .Navbar .head {
    width: 60%;
    justify-content: center;
}.faceSearch{
    width: 70%;
    margin-left: 2px;
}
}
@media only screen and (max-width:635px){
.Navbar .head {
    width: 90%;
}}