body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
.shareIcon{
    color:#1877F2;
    transition: all .4s ease-in-out;
    font-size: 20px
}
.shareIcon:hover{
transform: rotate(1turn);
}
.list {
    list-style-type: none;
    width: 95%;
    margin: 0;
    padding: 0;
}
.RightSide::-webkit-scrollbar{
    overflow-y: hidden;
}
.RightSide:hover::-webkit-scrollbar-track
{
    overflow-y: scroll;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.RightSide:hover::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.RightSide:hover::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #BCC0C4;
}



.listItemsImageround {
    height: 30px;
    width: 30px;
    border-radius: 50%;

}



.listItemsImage {
    height: 30px;
    transition: all .5s ease-in-out;
    width: 30px;
}
.listItemsImage:hover{
    transform: rotate(-1turn);
}

.listItems {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
    padding-left: 6px;
}
.list .listItems:hover{
    background-color: #BCC0C4;
     border-radius: 10px;
     transition: all 0.3s;
 }
.RightSide .body .btn{
    margin-left: 20px;
    
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50px;

}
/*  */
.dark{
    color:white;
    transition: all 0.8s ease-in-out;
}
.light{
    transition: all 0.8s ease-in-out;
    color: black;
}
.normal{
    transition: all 0.8s ease-in-out;
    background-color: #F0F2F5;
}
.hard{
    transition: all 0.8s ease-in-out;
    background-color: rgb(38, 10, 10);
}
.solid{
    transition: all 0.8s ease-in-out;
    background-color: blue;
    color: white;
}
.liquid{
    transition: all 0.8s ease-in-out;
    background-color: white;
    color: black;
}

@media only screen and (max-width:768px){
.RightSide{
    display: none;
}
}
