@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Ubuntu&display=swap');

.top {
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 10vh;
    text-align: center;
    top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.bottom {
    margin-top: 10vh;
    display: flex;
    width: 100%;
    min-height: 90vh;
    max-height: max-content;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.bottom .RightSide {
    position: fixed;
    left: 0%;
    height: 90vh;
    overflow-y: scroll;

}

.bottom .Center {
    width: 55%;
    /* height: 90vh; */

}

.bottom .LeftSide {
    height: 90vh;
    position: fixed;
    right: 0%;
    overflow-y: scroll;


}

.swiperSlider {
    height: 200px;
    border-radius: 10px;
    padding: 5px 5px 0px 5px;
}

.sliderItem {
    opacity: 0.8;
    margin: auto;
    border-radius: 10px;
    height: 180px;
}

.sliderItem .slbg:hover {
    opacity: 0;
}

.sliderItem .slbg {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    transition: all .5s ease;
}

.sliderItem .bgimg {
    width: 100%;
    border-radius: 10px;
    height: inherit;
}

.sliderItem h5 {
    left: 15px;
    font-family: Poppins;
    font-size:small ;
    position: absolute;
    color: white;
    bottom: 0;
}

.sliderItem .profile {
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 3px solid blue;
}

.mySwiper {
    height: 90%;
    z-index: 0 !important;
    width: 85%;
}

.swiper-button-next,
.swiper-button-prev {
    color: white;
}.swiper-pagination-bullet{
    display: none;
}
.sunMoon{
    height: 25px;
    width: 25px;
}

.btnChanger{
    height: 35px;
    width: 35px;
    position:fixed;
    border-radius: 50%;
    top: 3%;
    right: 21%; ;
    border: 2px solid goldenrod;
    margin: 0;
    padding: 0;

}
@media only screen and (max-width:992px){
    .listItems {
        padding-left: 0px;
    }
    .btnChanger {
        top: 3%;
    }
}
@media only screen and (max-width:768px){
    .bottom{
        margin-top: 5%;
    }
    .top{
        height: 10vh;

}    .btnChanger {
    top: 1%;
}.bottom .Center{
    width: 75%;
    margin-right: 25%;
}.swiperSlider {
    padding: 14px 5px 0px 5px;
}
}
@media only screen and (max-width:635px){
.LeftSide{
    display: none;
}.bottom .Center{
    width: 100%;
    margin-right: 0px;
    margin-top: 20px;
}.sliderItem .profile {
    width: 25px;
    height: 25px;
}.sliderItem {
    height: 160px;
}.btnChanger {
    right: 0%;
}
}