.LeftSide {
    width: 25%;
}

ul {
    list-style-type: none;
}

.LeftSide .head {
    display: flex;
    flex-direction: column;
    width: 95%;
    border-bottom: 1px solid #BCC0C4;
    padding: 5px;
    margin-bottom: 15px;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.LeftSide .head .first ul {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.LeftSide .head .first ul .Big {
    font-size: larger;
    color: #6D6F73;
}

.LeftSide .head .second ul {
    margin-top: 15px;
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.LeftSide .head .second ul li {
    height: 80px;
    /* margin: auto; */
}

.LeftSide .head .second ul .secondDiv {
    display: flex;
    flex-direction: column;
}

.LeftSide .head .second ul .secondDiv :nth-child(2) {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.LeftSide .head .second ul .secondDiv :nth-child(2) p {
    margin-left: 2px;
    color: #6D6F73;
    font-size: small;
}

.LeftSide .head .third {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 45px;
    /* border: 1px solid black; */
}

.LeftSide .head .third .btn {
    height: 35px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid #BCC0C4;
    font-weight: bold;
    margin-bottom: 5px;
}

.LeftSide .head .third .blue {
    background-color: blue;
    color: white;
}

.LeftSide .head .third .grey {
    background-color: #dbd6d6;
}

.LeftSide .center .first {
    display: flex;
    justify-content: space-between;
}

.LeftSide .center .first ul {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}

.LeftSide .center .first .Big {
    font-size: larger;
}
.LeftSide .center {
    border-bottom: 1px solid #BCC0C4;
}

.LeftSide .center .second ul li{
    display: flex;
    width: 100%;
    align-items: center;
}
.LeftSide .center .second ul li p{
margin-left: 5px;
}.LeftSide .foot h3{
    color: #6D6F73;
}.LeftSide .foot  div {
    display: flex;
    align-items:center;


}.LeftSide .foot  div p{
    margin-left: 5px;
}
.img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.imgBig {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.LeftSide::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.LeftSide::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.LeftSide::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #BCC0C4;
}