.Navbar{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 1px #6D6F73;
}
.Navbar .head {
    width: 20%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}
.faceBookLogo {
    height: 40px;
    width: 40px;
}

.faceSearch {
    height: 40px;
    background-color: #F0F2F5;
    width: 200px;
    padding: 5px;
    border: 1px solid #cccecf;
    border-radius: 50px;
    text-align: center;
    
}
.head1{
    width: 45%;
    display: flex;
    justify-content: space-between;
    /* gap: 50px; */
    align-items: center;
}.head2{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}.head2 div{
    background-color: #F0F2F5;
    /* height: 35px; */
    border-radius: 50%;
    /* width: 35px; */
    padding: 10px;
    text-align: center;
}
.profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;

}