.dark{
    color:white;
    transition: all 0.8s ease-in-out;
}
.light{
    transition: all 0.8s ease-in-out;
    color: black;
}
.normal{
    transition: all 0.8s ease-in-out;
    background-color: #F0F2F5;
}
.hard{
    transition: all 0.8s ease-in-out;
    background-color: rgb(38, 10, 10);
}
.solid{
    transition: all 0.8s ease-in-out;
    background-color: blue;
    color: white;
}
.liquid{
    transition: all 0.8s ease-in-out;
    background-color: white;
    color: black;
}